*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--font-sans);
}

:root{
  --container: min(100% - 2, 50rem);
  --center: auto;
}

.flex{
  display: flex;
}

.items-center{
  align-items: center;
}

.justify-center{
  justify-content: center;
}

.chatIcon{
width: var(--size-9);
margin-right: var(--size-2);
}

.chat-slogan{
  margin-left: var(--size-3);
  font-weight: var(--font-weight-6);
}

.chat-footer{
  margin-left: var(--size-3);
  font-weight: var(--font-weight-5);
}


nav{
  padding: var(--size-4);
  text-transform: uppercase;
  border-bottom: 1px solid var(--violet-9);
}

footer{
  padding: var(--size-4);
  text-transform: uppercase;
  border-bottom: 1px solid var(--violet-9);
}

a{
margin: 0 8px;
}

.container{
width: var(--container);
margin: var(--center);
padding: var(--size-4);
}

.inputs{
  border: 1px solid var(--violet-9);
  border-radius: var(--size-1);
  padding: var(--size-2);
  margin: var(--size-3) 0;
  width: 100%;
}

.inputsBtn{
  border: 1px solid var(--violet-9);
  border-radius: var(--size-1);
  padding: var(--size-2);
  margin: var(--size-3) 0;
  width: 20%;
}

.chat-grid{
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.sidebar{
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - 5rem);
  padding: var(--size-2);
}

.chat{
width: 100%;
height: calc(100vh - 5rem);
padding: var(--size-1);
position: relative;
overflow-y: scroll;
}

.user-chat{
  background-color: var(--indigo-9);
  border-radius: 0.5rem;
  min-height: 2rem;
  width: calc(100% - 3rem);
  margin: 8px 0 0 24px;
  padding: var(--size-1);
  text-align: right;
}

.sender-chat{
  background-color: var(--violet-6);
  border-radius: 0.5rem;
  min-height: 2rem;
  width: calc(100% - 4rem);
  margin: 8px 24px 0 0;
  border: 1px solid var(--violet-6);
  padding: var(--size-1);
}

.chat-info{
font-size: 18px;
}

.chat-form-container{
  width: var(--container);
  margin: var(--center);
  height: 4rem;
}

.chat-input-container{
  display: flex;
  align-items: center;
}

.chat-input{
width: 80%;
margin: 0 var(--size-2) 0 0; 
}

.chat-send{
  width: 20%;
  margin: 0 var(--size-2) 0 0;
}

.btnRegister{
  animation: var(--animation-pulse);
}

.btnDelete{
  background: none;
  border: none;
  color: rgb(0, 0, 0);
  margin: 0 15px;
}

.btnEdit{
  background: none;
  border: none;
  color: rgb(0, 0, 0);
  margin: 0 15px; 
}

.alert-error{
  color: var(--red-5);
}

.sing-out{
  color: var(--red-5);
  cursor: pointer;
}